/*
<========= Google Font =========>
*/
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

/*
<========= Variables =========>
*/
:root {
  --main-color: rgb(255, 150, 150);
}

/*
<========= Animation =========>
*/
.js-scroll {
  opacity: 0;
  transition: opacity 1000ms;
}
.js-scroll.scrolled {
  opacity: 1;
}
.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1000ms ease-in-out both;
}
.scrolled.slide-right {
  animation: slide-in-right 1500ms ease-in-out both;
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/*
<========= Document Style =========>
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;

  font-family: "Montserrat";
}
a {
  text-decoration: none;
}

/*
<========= Scroller Style =========>
*/
::-webkit-scrollbar {
  width: 8px;
  background: rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0 3px 0.1px rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: var(--main-color);
  box-shadow: inset 0 0 3px 0.1px rgba(0, 0, 0, 0.1);
}

/*
<========= Container Style =========>
*/
section {
  padding: 86px 4px 20px !important;
}
.flower {
  width: 120px;
}
.header-text {
  margin-bottom: 20px;

  color: var(--main-color);
  font-size: 56px;
  font-family: "Great Vibes";
  font-weight: 300;
  text-align: center;
  word-spacing: 12px;
}
.btn {
  padding: 12px 18px;

  background: var(--main-color);
  border-radius: 30px;

  color: white;
  font-size: 14px;
  letter-spacing: 0.4px;
  text-shadow: none;
}
.btn:hover {
  background: rgb(250, 170, 170);
}
@media (max-width: 768px) {
  .btn {
    padding: 14px 22px;

    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .header-text {
    font-size: 48px;
  }
}

/*
<========= Navigation Style =========>
*/
nav {
  position: fixed;
  z-index: 100;
  padding: 18px 110px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 500ms;
}
nav a {
  color: white;
  font-size: 26px;

  transition: 500ms;
}
nav a:hover {
  color: rgb(250, 160, 160) !important;
}
nav a.active {
  transition: 500ms;
  color: rgb(250, 160, 160) !important;
}
nav a::after {
  margin: 2.5px auto 0;
  height: 2.5px;
  width: 0;

  display: block;

  border-radius: 4px;
  background: rgb(250, 160, 160);

  content: "";

  transition: width 500ms ease-in;
}
nav a.active::after {
  width: 60%;
}
.menu {
  display: flex;
  align-items: center;
  gap: 34px;

  list-style: none;

  transition: 500ms;
}
.menu a {
  font-size: 14px;
}
.hamburger-btn {
  display: none;
}
@media (max-width: 768px) {
  nav {
    padding: 16px 28px;

    justify-content: right;
  }
  .menu {
    position: fixed;
    left: 0;
    top: 0;

    padding: 32px 0;
    width: 100%;

    flex-direction: column;
    gap: 28px;

    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0.1px 0.1px 3px black;
  }
  .menu.not-active {
    transform: translateY(-100%);
  }
  .menu a {
    font-size: 20px;

    color: rgb(100, 100, 100);
  }
  .hamburger-btn {
    z-index: 101;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
  }
  .hamburger-btn span {
    height: 6px;
    width: 32px;

    background: var(--main-color);
    border-radius: 6px;

    transition: 500ms;
  }
  .hamburger-btn.close span:nth-child(1) {
    width: 38px;

    transform-origin: 100% 0;
    transform: rotate(-45deg);
  }
  .hamburger-btn.close span:nth-child(2) {
    width: 38px;

    transform-origin: 0 0;
    transform: rotate(45deg) translate(1px, -21px);
  }
  .hamburger-btn.close span:nth-child(3) {
    opacity: 0%;
  }
}
@media (max-width: 480px) {
  nav {
    padding: 16px 24px;
  }
  .menu {
    gap: 24px;
  }
  .menu a {
    font-size: 16px;
  }
}

/*
<========= Header Style =========>
*/
header {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;

  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("IMG/header.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  color: white;
  text-align: center;
}
header .flower {
  margin-bottom: -40px;
}
header p:nth-child(2),
header p:nth-child(4),
header p:nth-child(6) {
  margin-top: 16px;

  font-size: 14px;
  letter-spacing: 0.2px;
}
header p:nth-child(2)::before {
  position: absolute;
  top: 40%;
  left: 110%;

  width: 40px;
  height: 2.5px;

  border-radius: 2.5px;
  background: white;

  content: "";
}
header p:nth-child(2):after {
  position: absolute;
  top: 40%;
  right: 110%;

  width: 40px;
  height: 2.5px;

  border-radius: 2.5px;
  background: white;

  content: "";
}
header p:nth-child(3) {
  font-size: 48px;
  font-family: "Great Vibes";
}
header p:nth-child(5) {
  font-size: 28px;
  font-family: "Great Vibes";
}
header p:nth-child(6) {
  margin: 0 0 12px;
}
@media (max-width: 768px) {
  header p:nth-child(2),
  header p:nth-child(4),
  header p:nth-child(6) {
    font-size: 20px;
  }
  header p:nth-child(3) {
    margin: 0 0 16px;
  }
  header p:nth-child(5) {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  header {
    background-size: 350%;
  }
  header p:nth-child(2),
  header p:nth-child(4),
  header p:nth-child(6) {
    font-size: 16px;
  }
  header p:nth-child(2) {
    font-size: 22px;
  }
  header p:nth-child(3) {
    font-size: 34px;
  }
  header p:nth-child(5) {
    font-size: 22px;
  }
}

/*
<========= Event Section Style =========>
*/
.event-card {
  margin: 0 auto;
  width: 60%;

  display: flex;

  box-shadow: 0 0 12px 0.3px rgb(0, 0, 0, 0.1);
}
.event-card img {
  width: 50%;
}
.event-card .text {
  padding: 0 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;

  color: rgb(160, 160, 160);
  font-size: 14px;
  word-spacing: 3.5px;
}
.event-card .text h4 {
  margin-left: 18px;

  color: rgb(100, 100, 100);
  font-weight: 300;
}
.event-card .text p:nth-child(1) {
  color: var(--main-color);
  font-size: 46px;
  font-family: "Great Vibes";
}
@media (max-width: 768px) {
  .event-card {
    width: 70%;
    flex-direction: column;
  }
  .event-card img {
    width: 100%;
  }
  .event-card .text {
    padding: 40px 20px;

    gap: 14px;

    font-size: 18px;
  }
  .event-card .text p:nth-child(1) {
    font-size: 52px;
  }
}
@media (max-width: 480px) {
  .event-card {
    width: 85%;
  }
  .event-card .text {
    font-size: 16px;
  }
  .event-card .text p:nth-child(1) {
    font-size: 38px;
  }
}

/*
<========= Location Section Style =========>
*/
#location {
  background: rgb(250, 250, 250);
}
.maps-backdrop {
  padding: 30px;
  margin: 0 auto;
  width: 65%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: url("IMG/lokasidanwaktu.jpg");
  background-size: cover;
}
.map {
  padding: 20px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  background: rgba(255, 255, 255, 0.9);

  color: rgb(100, 100, 100);
  text-align: center;
}
.map p:nth-child(2) {
  font-size: 24px;
}
.map .btn {
  font-size: 14px;
}
#gmap_canvas {
  width: 80%;
  height: 400px;
  overflow: hidden;

  border: 1px solid rgb(200, 200, 200);
}
@media (max-width: 768px) {
  .maps-backdrop {
    width: 85%;
  }
  .map p {
    font-size: 16px;
  }
  .map p:nth-child(2) {
    font-size: 24px;
  }
  .map .btn {
    font-size: 14px;
  }
  #gmap_canvas {
    width: 90%;
    height: 300px;
  }
}
@media (max-width: 480px) {
  .maps-backdrop {
    padding: 10px;
    width: 85%;
  }
  .map {
    padding: 10px;
  }
  .map p {
    font-size: 14px;
  }
  .map p:nth-child(2) {
    font-size: 22px;
  }
  #gmap_canvas {
    width: 100%;
    height: 250px;
  }
  #location .btn {
    padding: 8px 14px;
    margin: 8px 0;

    font-size: 12px;
  }
}

/*
<========= Gallery Section Style =========>
*/
.row {
  display: flex;
  justify-content: center;
  gap: 18px;
  flex-wrap: wrap;
}
.picture {
  overflow: hidden;
  aspect-ratio: 3 / 4;
  width: 17%;

  display: flex;
  justify-content: center;
}
.picture img {
  height: 100%;
  width: auto;

  transition: 500ms;
}
.picture img:hover {
  filter: brightness(0.6);
}
@media (max-width: 768px) {
  .picture {
    width: 42%;
  }
}
@media (max-width: 480px) {
  .picture {
    width: 85%;
  }
}

/*
<========= Contact Section Style =========>
*/
.comment {
  margin: 0 auto;
  width: 40%;

  display: flex;
  flex-direction: column;
  gap: 8px;

  font-family: "Josefin Sans";
}
.comment label {
  color: var(--main-color);
}
.comment label:nth-child(3) {
  margin-top: 12px;
}
.comment input {
  padding: 8px;
  width: 100%;

  border: 1px solid var(--main-color);
  border-radius: 3px;
  outline: none;

  color: rgb(80, 80, 80);
  font-size: 16px;
  font-family: "Josefin Sans";
  letter-spacing: 0.2px;
}
.comment textarea {
  resize: vertical;

  padding: 8px;
  width: 100%;

  border: 1px solid var(--main-color);
  border-radius: 3px;
  outline: none;

  color: rgb(80, 80, 80);
  font-size: 16px;
  font-family: "Josefin Sans";
  letter-spacing: 0.2px;
}
.comment input::placeholder,
.comment textarea::placeholder {
  color: rgb(180, 180, 180);
}
.comment .btn {
  margin: 8px auto 0;
  width: max-content;
}
.comment-list {
  padding: 8px;
  margin: 22px auto 0;
  width: 40%;
  height: 200px;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  gap: 12px;
}
.comment-list::-webkit-scrollbar {
  border-radius: 8px;
}
.comment-list .card {
  display: flex;
  align-items: center;
  gap: 12px;
}
.comment-list .card .fa-user {
  width: 6%;

  color: var(--main-color);
}
.comment-list .card .message {
  padding: 8px;
  width: 94%;

  border-radius: 6px;
  box-shadow: 0 0 3px 0.1px rgb(100, 100, 100, 0.5);

  color: rgb(120, 120, 120);
  font-size: 14px;
  font-family: "Josefin Sans";
}
.comment-list .card .message .name {
  margin-bottom: 6px;

  color: var(--main-color);
}
@media (max-width: 768px) {
  .comment {
    width: 60%;
  }
  .comment input {
    font-size: 18px;
  }
  .comment input::placeholder {
    font-size: 16px;
  }
  .comment textarea {
    font-size: 18px;
  }
  .comment textarea::placeholder {
    font-size: 16px;
  }
  .comment-list {
    width: 60%;

    gap: 18px;
  }
  .comment-list .card .message {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .comment {
    width: 85%;
  }
  .comment textarea::-webkit-resizer {
    border-top-left-radius: 8px;
    border-top: 1px solid var(--main-color);
    border-left: 1px solid var(--main-color);
    background: rgb(250, 170, 170, 0.5);
  }
  .comment .btn {
    padding: 12px 18px;

    font-size: 16px;
  }
  .comment-list {
    width: 85%;
    height: 300px;

    gap: 22px;
  }
}

/*
<========= Protokol Kesehatan Style =========>
*/
#protokol p {
  font-size: 18px;
  color: rgb(120, 120, 120);
  text-align: center;
}
.protokol-kesehatan {
  margin: 28px auto;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 140px;
}
.protokol-kesehatan div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
.protokol-kesehatan div p {
  font-size: 14px !important;
}
.protokol-kesehatan div img {
  width: 80px;
}
@media (max-width: 768px) {
  .protokol-kesehatan {
    gap: 80px;
  }
  .protokol-kesehatan div {
    gap: 8px;
  }
  .protokol-kesehatan div p {
    font-size: 18px !important;
  }
  .greetings {
    font-size: 52px;
  }
}
@media (max-width: 480px) {
  #protokol {
    padding: 0 20px;
  }
  .protokol-kesehatan {
    flex-direction: column;
    gap: 38px;
  }
  .protokol-kesehatan div p {
    font-size: 16px !important;
  }
  .protokol-kesehatan div {
    gap: 12px;
  }
  .protokol-kesehatan div img {
    height: 80px;
    width: auto;
  }
  .greetings {
    margin: 18px 0 80px;
    font-size: 26px;
  }
}

/*
<========= Footer Style =========>
*/
footer {
  padding: 14px 2px;
  margin-top: 60px;
  background: rgb(70, 70, 70);

  color: white;
  font-family: "Montserrat";
  font-size: 12px;
  text-align: center;
  word-spacing: 2px;
}
footer a {
  color: var(--main-color);
  font-weight: 300;
}
@media (max-width: 768px) {
  footer {
    padding: 18px 2px;
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  footer {
    font-size: 14px;
  }
}

/*
<========= Music Style =========>
*/
.music-btn {
  cursor: pointer;

  position: fixed;
  bottom: 50px;
  right: 50px;

  padding: 12px;

  border-radius: 6px;
  background: rgb(250, 150, 150, 0.7);
  border: none;

  color: white;
  font-size: 22px;
}
.music-btn:hover {
  background: rgb(250, 160, 160, 0.7);
}
@media (max-width: 768px) {
  .music-btn {
    bottom: 35px;
    right: 35px;

    font-size: 28px;
  }
}
@media (max-width: 480px) {
  .music-btn {
    bottom: 20px;
    right: 20px;

    font-size: 28px;
  }
}

/* Buka Undangan */
.buka-undangan {
  margin: 12px 0;
}
.buka-undangan p {
  font-size: 14px !important;
  font-family: "Montserrat" !important;
}
@media (max-width: 768px) {
  .buka-undangan p {
    font-size: 18px !important;
  }
}
